<%= render 'shared/header', header: @task.name %>

<p>Description: <%= @task.description %></p>

<small>Category: <%= @task.category.name %></small>
<br/>
<small>Priority: <%= @task.priority_to_word %></small>
<br/>
<br/>
<small>
  <%= link_to 'edit task', edit_user_task_path(@task.user, @task) %>
  <%= link_to 'remove task', user_task_path(@task.user, @task), method: 'delete', data: { confirm: "Are You Sure?" } %>
</small>
<br/>
<br/>
<%= link_to "back to all tasks", user_path(@task.user) %>
