
<%= render 'shared/header', header: "My Tasks for #{pretty_date(set_date.to_date)}" %>

<h4 class='text-center'>
  <%= link_to date_before_path, class: 'btn btn-default btn-sm pull-left' do %>
    <span class='glyphicon glyphicon-chevron-left'></span>
  <% end %>
  <%= link_to date_after_path, class: 'btn btn-default btn-sm pull-right' do %>
    <span class='glyphicon glyphicon-chevron-right'></span>
  <% end %>
</h4>
<div class='col-md-6 col-md-offset-3'>  
  <h3 class='text-center'>Stuff to Do</h3>
  <hr/>
  <ul id='tasks-to-do'>
    <% @tasks_in_progress.each do |task| %>
      <li>
        <%= render 'tasks/task', task: task %>
      </li>
    <% end %>
  </ul>
  <hr/>
  <h3 class='text-center'>Accomplished Tasks</h3>
  <hr/>
  <ul id='tasks-accomplished'>
    <% @tasks_accomplished.each do |task| %>
      <li>
        <%= render 'tasks/task', task: task %>
      </li>
    <% end %>
  </ul>
  <br/>
  <br/>
</div>
